<!DOCTYPE html>
<html>
  <head>
    <title>Quantum IDE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag 'main.tsx' %>

    <%= favicon_link_tag asset_path('quantum-ide.svg') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
